
modules = ["python-3.12"]

[nix]
channel = "stable-25_05"
packages = ["iana-etc"]

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 46233810
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python app.py"

[deployment]
run = ["python3", "backend/app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
